<div class="row" class="container-fluid" >

    
    <div class="heading">
        <label>Allergies</label>
             </div>
    <div class="row">
      
   <div class="col-sm-6">
      <div>   Drugs
         </div>
   </div>
         <div class="col-sm-6">
            <div>  Reactions
            </div>
        </div>
             
    </div>

    <div class="row">
      
        <div class="col-sm-6">
           <div> <span class="bullelements">&bull;</span>
            Penicillin
              </div>
        </div>
              <div class="col-sm-6">
                 <div>    Anaphylactic Shock
                 </div>
             </div>
                  
         </div>

         <div class="row">
      
            <div class="col-sm-6">
               <div>  <span class="bullelements">&bull;</span>
                Dilantin
                  </div>
            </div>
                  <div class="col-sm-6">
                     <div> Skin Rash
                     </div>
                 </div>
                      
             </div>

             
         <div class="row">
      
            <div class="col-sm-6">
               <div>  <span class="bullelements">&bull;</span>
                Sulpha Drugs
                  </div>
            </div>
                  <div class="col-sm-6">
                     <div> Headache
                     </div>
                 </div>
                       
             </div>
   
    </div>