<div>
    <div class="header">
        Pre-Surgical Procedures
    </div>
<table>

    <tr>
        <td>
            <div class="success-checkmark"></div>
            <div class="prcedureText">
                Anti-anxiety drug administred by the Nurse
            </div>
            
        </td>
       
    </tr>


    <tr>
        <td>
            <div class="success-checkmark"></div>
            <div class="prcedureText">
            Baseline vitals recorded
            </div>
        </td>
       
    </tr>



    <tr>
        <td>
            <div class="success-checkmark"></div>
            <div class="prcedureText">
            Blood sugar level tested 
            </div>
        </td>
      
    </tr>


    <tr>
        <td>
            <div class="success-checkmark"></div>
            <div class="prcedureText">
            Medical history and health risks evauated
            </div>
        </td>
        
    </tr>


    <tr>
        <td>
            <div class="success-checkmark"></div>
            <div class="prcedureText">
            Chest X-ray and ECG is normal
            </div>
        </td>
       
    </tr>


    <tr>
        <td>
            <div class="warning-checkmark"></div>
            <div class="warningText">
            Obstructive sleep apnea detected
            </div>
        </td>
       
    </tr>


    <tr>
        <td>
            <div class="success-checkmark"></div>
            <div class="prcedureText">
            Intravenous general anesthesia administered by Dr. Thomas Cook
      </div>
        </td>
       
    </tr>

</table>


</div>