
<div class="page">
 

    <div class="heading">
        <label>Active Diagnosis</label>
    </div>
    <div class="subHeading">
        <label>Traumatic Brain Injury - S06.2X9D</label>
    </div>

    <div class="contentText">

        Diffuse traumatic brain injury with loss of consciousness of unspecified duration.<br>
     Closed intracranial injury with cerebral contusions, hemorrhage within  the <br> hemispheres, subdural hematoma, and skull fractures.
    </div>

    <!-- Two arrow images -->
    <!-- <div style="float: right;">
    <div id="u134_2Arrow" class="ax_default_2Arrow image_2Arrow" >
        <img id="u134_img_2Arrow" class="img_2Arrow " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/CMYB1H/5d/2d/23/5d2d231f76304a4fb6a222460aa7c51b/images/patient_details/u130.png?token=b77c030af009ea82737652aa5bea49e8dbd4dd1049afb84888998a5a09d42917">
      </div>
    </div>
    <div style="float: right;">
    <div id="u134_2Arrow" class="ax_default_2Arrow image_2Arrow" >
        <img id="u134_img_2Arrow" class="img_2Arrow " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/CMYB1H/5d/2d/23/5d2d231f76304a4fb6a222460aa7c51b/images/patient_details/u130.png?token=b77c030af009ea82737652aa5bea49e8dbd4dd1049afb84888998a5a09d42917">
      </div>
    </div> -->

</div>