.contentText{
    font-size: 13px;
    color: #666666;
    line-height: 18px;
   margin-top: 4px;
}

.heading{
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #445976;
    line-height: normal;
    text-align: left;
}

.subHeading{
    font-size: 13px;
    color: #445976;
    text-align: left;
    font-weight: 400;
    font-style: normal;
}
