<div class="row" class="container-fluid" >

    <div class="heading">
        <label>Active Medication</label>
        </div>
    <div class="row">
      
   <div class="col-sm-4">
      <div>  Drugs
         </div>
   </div>
         <div class="col-sm-4">
            <div>  Drugs
            </div>
        </div>
              <div class="col-sm-4">
                <div>  Drugs
                </div>
                  </div>
    </div>

    <div class="row">
      
        <div class="col-sm-4">
           <div>  <span class="bullelements">&bull;</span>
            Tab Nitrostat 4 mg
              </div>
        </div>
              <div class="col-sm-4">
                 <div>    31/01/2020
                 </div>
             </div>
                   <div class="col-sm-4">
                     <div>    8 mg
                     </div>
                       </div>
         </div>

         <div class="row">
      
            <div class="col-sm-4">
               <div>  <span class="bullelements">&bull;</span>
                Tab Zestril 20 mg
                  </div>
            </div>
                  <div class="col-sm-4">
                     <div>1/02/2020
                     </div>
                 </div>
                       <div class="col-sm-4">
                         <div>60 mg
                         </div>
                           </div>
             </div>

             
         <div class="row">
      
            <div class="col-sm-4">
               <div>  <span class="bullelements">&bull;</span>
                Tab Glyburied 2.5 mg
                  </div>
            </div>
                  <div class="col-sm-4">
                     <div> 10/02/2020
                     </div>
                 </div>
                       <div class="col-sm-4">
                         <div>5 mg
                         </div>
                           </div>
             </div>
   
    </div>